<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customise your Tacoo</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="d-flex  justify-content-around">
        <div class="p-2 bd-highlight">
        <h1> Create your own Tacoo !!! </h1>
        </div>
        <div class="p-2 bd-highlight">
        </div>
        <div class="p-2 bd-highlight">
        <form th:action="@{/logout}">
            <button type="submit" class="btn btn-dark" th:action="@{/logout}">LOG OUT</button>
        </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <img th:src="@{/images/tacoCloud.png}"/>
        </div>
    </div>

    <form method="POST">
        <div class="row">
            <div class="col-sm">
                <h5 class="mx-4">Designate your wrap:</h5>
                <div class="mx-4 form-check" th:each="ingredient : ${wrap}">
                    <input type="checkbox" name="ingredients"  class="form-check-input" th:value="${ingredient.id}" th:id="${ingredient.id}">
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
                </div>
            </div>
            <div class="col-sm">
                <h5 class="mx-4">Pick your protein:</h5>
                <div class="mx-4 form-check" th:each="ingredient : ${protein}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}" class="form-check-input" th:id="${ingredient.id}">
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
                </div>
            </div>
            <div class="col-sm">
        <h5 class="mx-4">Choose your cheese:</h5>
        <div class="mx-4 form-check" th:each="ingredient : ${cheese}">
            <input type="checkbox" name="ingredients" class="form-check-input" th:id="${ingredient.id}" th:value="${ingredient.id}">
            <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
        <h5 class="mx-4">Determine your veggies:</h5>
        <div class="mx-4 form-check" th:each="ingredient : ${veggies}">
            <input type="checkbox" name="ingredients" class="form-check-input" th:id="${ingredient.id}" th:value="${ingredient.id}">
            <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </div>
            </div>
            <div class="col-sm">
            <h5 class="mx-4">Select your sauce:</h5>
        <div class="mx-4 form-check" th:each="ingredient : ${sauce}">
            <input type="checkbox" name="ingredients" class="form-check-input" th:id="${ingredient.id}" th:value="${ingredient.id}">
            <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <br/>
        <div class="row justify-content-start">
            <div class="col-md-3 form-label nopa">
            <h5 class="">Name your Tacoo :</h5>
            </div>
            <div class="col-md-4 ">
                <input name="name" type="text" class="form-control " placeholder="Name"/>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!--input type="hidden" name="_csrf" th:value="${_csrf.token}"/-->
    </form>
</div>
</body>
</html>